@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/pisure.jpg);
  color: black;
}

.container {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form {
  padding: 30px;
}

.container .form .title {
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.entire-container {
  background-color: #fff;
  width: 800px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.labelGroup {
  margin-left: 50px;
  line-height: 35px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}
